/* #scroll-box-holder {
    overflow: hidden;
    height: 92vh;
}

#scroll-box {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
} */

#pastLikesDiv {
    display:block;
}

.pastLikesHidden {
    display: none;
}